<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
    <title>Прогноз погоды</title>
</head>
<body>
  <br><br><br><br>
    <h2>Прогноз погоды для {{ weather.location }}</h2>
    <p>Температура: {{ weather.temperature }} °C</p>
    <p>Описание: {{ weather.description }}</p>
    <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Иконка погоды">
</body>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<center>
<form action="/weather" method="POST">
<input type="text" id="location" name="location" placeholder="Введите местоположение"><br><br>
<button class="button">Получить прогноз</button><br><br>
</form>
<form action="/users">
  <button class="button">Користувачі</button><br><br>
</form>
<form action="/logs">
  <button class="button">Логі</button><br><br>
</form>
<form action="/profile">
  <button class="button">Профіль</button><br><br>
</form>
</center>
</html>
